.nav{
    border-bottom:dotted 5px #C0C0C0;
}

.app {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  input {
    width: 100%;
    height: 30px;
  }
  
  .add {
    content: '';
    margin-top: -20px;
    background-color: #000;
    color: #fff;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
  }
  .add2 {
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
  }
  .list {
    padding-top: 20px;
  }
  
  .item {
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .remove {
    border: 0;
    background-color: rgb(212, 101, 101);
    color: #fff;
    padding: 10px;
  }
  .menu {
    text-align: center; /* 調整文本對齊方式，使其靠左 */
    margin: 1rem 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    list-style: none;
  }
  .photo{
    margin-top: 20px;
    width: 300px; 
    height: auto;
  }

  #tab-content {
    text-align: center; /* 調整文本對齊方式，使其靠左 */
    border: 1px solid #000000;  
    margin: 10px 10px 10px ;
  }
  
  #tab-content h2, #tab-content p, #tab-content img.photo {
    vertical-align: center; /* 垂直對齊頂部，使它們對齊 */
    margin-right: 20px; /* 可以根據需要調整元素之間的間距 */
  }



  