@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

.nav{
    border-bottom:dotted 5px #C0C0C0;
}

.app {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  input {
    width: 100%;
    height: 30px;
  }
  
  .add {
    content: '';
    margin-top: -20px;
    background-color: #000;
    color: #fff;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
  }
  .add2 {
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
  }
  .list {
    padding-top: 20px;
  }
  
  .item {
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .remove {
    border: 0;
    background-color: rgb(212, 101, 101);
    color: #fff;
    padding: 10px;
  }
  .menu {
    text-align: center; /* 調整文本對齊方式，使其靠左 */
    margin: 1rem 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    list-style: none;
  }
  .photo{
    margin-top: 20px;
    width: 300px; 
    height: auto;
  }

  #tab-content {
    text-align: center; /* 調整文本對齊方式，使其靠左 */
    border: 1px solid #000000;  
    margin: 10px 10px 10px ;
  }
  
  #tab-content h2, #tab-content p, #tab-content img.photo {
    vertical-align: center; /* 垂直對齊頂部，使它們對齊 */
    margin-right: 20px; /* 可以根據需要調整元素之間的間距 */
  }
  .input-group {
    font-size: 1.25rem;
    position: relative;
    --primary: #2196f3;
  }
  
  .input2 {
    all: unset;
    color: #000000;
    padding: 1rem;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #d4d4d4;
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .input2:focus {
    border: 1px solid var(--primary);
  }
  
  .input2:is(:focus, :valid) ~ label {
    transform: translateY(-120%) scale(0.7);
    background-color: white;
    padding-inline: 0.3rem;
    color: var(--primary);
  }

  